{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

    <h1 id="">{{ collective.name }}</h1>
    <div>&nbsp;</div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Название</th>
                <th>Размер</th>
                <th>Time</th>
                <th>Добавлен</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in stats %}
{#            {% set example_id = example.key.id() %}#}
            <tr>
                <td>{{ stat.filename }}</td>
                <td>{{ stat.st_size }}</td>
                <td>{{ stat.st_ctime }}</td>
{#                <td class="nowrap">{{ stat.st_ctime.strftime('%b %d, %Y %I:%M %p') }}</td>#}
                <td>
{#                    <a href="{{ url_for('edit_example', example_id=example_id) }}" class="btn">Edit</a>#}
                </td>
                <td>
{#                    <form method="post" action="{{ url_for('delete_example', stat_id=stat.etag) }}">#}
{#                        <button class="btn">Удалить</button>#}
{#                    </form>#}
                </td>
            </tr>
            {% else %}
            <tr><td colspan="7">Пока нет музыки</td></tr>
            {% endfor %}
        </tbody>
    </table>
{#    <p>#}
{#        <a class="btn btn-primary" data-toggle="modal" data-target="#new-example-modal">#}
{#            <i class="icon-plus-sign icon-white"></i>#}
{#            New example#}
{#        </a>#}
{#    </p>#}

    <p>
        <form action="{{ url_for('upload', collective= collective.bucket)}}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Upload File:</label>
                <input type="file" id="file" name="file" class="form-control">
                <button type="submit" class="btn btn-success">Загрузить</button>
    {#            <input type="submit" name="submit" value="Submit">#}
            </div>
        </form>
    </p>



{% endblock content %}

